<body>
  <div style="color: white;" class="font-italic">
  <header>
    <nav>
      <a href="http://localhost:3000/docker/">Inicio</a>
      <a href="http://localhost:3000/docker/apartado1-1">Introduccion a Docker</a>
    </nav>
    <section class="textos-header">
      <h1>Ingenieria de sofware II</h1>
      <h2>The foundation</h2>
    </section>
  </header>
  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestra pagina web</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="img/fes.png" alt="" class="imagen-about-us" />
      </div>
    </section>
    <section class="portafolio">
      <div class="contenedor">
        <h2 class="titulo" id="Enlace">Contenido</h2>

        <div class="boton-inicio">
          <a href="http://localhost:3000/docker/">
            <button class="B-inicio"> Inicio </button>
          </a>
        </div>

        <dev class="galeria-enlace" id="menu">
          <div class="imagen-enlace">
            <a href="http://localhost:3000/docker/apartado1-1">
              <img src="img/img8.png" alt="" />
              <div class="hover-galeria">
                <img src="img/icono_SCRUM.png" alt="" />
                <p>Introduccion</p>
              </div>
            </a>
          </div>

          <div class="imagen-enlace">
            <a href="http://localhost:3000/docker/apartado1-2">
              <img src="img/img5.png" alt="" />
              <div class="hover-galeria">
                <img src="img/icono_SCRUM.png" alt="" />
                <p>Directivas</p>
              </div>
            </a>
          </div>
          <div class="imagen-enlace">
            <a href="http://localhost:3000/docker/apartado1-3">
              <img src="img/img6.png" alt="" />
              <div class="hover-galeria">
                <img src="img/icono_SCRUM.png" alt="" />
                <p>Ciclo de vida de los contenedores</p>
              </div>
            </a>
          </div>
        </dev>

        <div class="contenido">
          <h3 class="titulo"> Directivas Dockerfile</h3>
          <p>Para entender mejor qué son los comandos de Docker y cómo funcionan, vamos a explicar brevemente la
            estructura de Docker. La instalación de Docker en un host local contiene el Docker Engine como núcleo, que
            consta de tres componentes principales:

            El daemon de Docker, que se ejecuta como “dockerd” en el host.
            La API de Docker, proporcionada por el daemon de Docker. Este se dirige y se deja controlar a través de la
            API.
            La interfaz de línea de comandos (“command line interface”, CLI), que se utiliza como un comando de Docker
            para comunicarse con la API de Docker.
            Para controlar Docker, el usuario introduce los comandos de Docker en la línea de comandos, que son
            recibidos y procesados por la CLI de Docker. A partir de los comandos, se generan las correspondientes
            llamadas a la API para el daemon de Docker, que es el que realiza el trabajo real.</p>
          <br>
        </div>
        <br>
        <img src="img/Captura.PNG" alt="" />
        <br>
        <img src="img/Captura2.PNG" alt="" />
        <br>
        <img src="img/Captura3.PNG" alt="" />
        <br>
      </div>
    </section>
  </main>
  </div>
</body>