<body>
  <div style="color: white;" class="font-italic">
  <header>
    <nav>
      <a href="http://localhost:3000/docker/">Inicio</a>
      <a href="http://localhost:3000/docker/apartado1-1">Introduccion a Docker</a>
    </nav>
    <section class="textos-header">
      <h1>Ingenieria de sofware II</h1>
      <h2>The foundation</h2>
    </section>
  </header>
  <main>
    <section class="contenedor sobre-nosotros">
      <h2 class="titulo">Nuestra pagina web</h2>
      <div class="contenedor-sobre-nosotros">
        <img src="img/fes.png" alt="" class="imagen-about-us" />
      </div>
    </section>
    <section class="portafolio">
      <div class="contenedor">
        <h2 class="titulo" id="Enlace">Contenido</h2>

        <div class="boton-inicio">
          <a href="http://localhost:3000/docker/">
            <button class="B-inicio"> Inicio </button>
          </a>
        </div>

        <dev class="galeria-enlace" id="menu">
          <div class="imagen-enlace">
            <a href="http://localhost:3000/docker/apartado1-1">
              <img src="img/img8.png" alt="" />
              <div class="hover-galeria">
                <img src="img/icono_SCRUM.png" alt="" />
                <p>Introduccion</p>
              </div>
            </a>
          </div>

          <div class="imagen-enlace">
            <a href="http://localhost:3000/docker/apartado1-2">
              <img src="img/img5.png" alt="" />
              <div class="hover-galeria">
                <img src="img/icono_SCRUM.png" alt="" />
                <p>Directivas</p>
              </div>
            </a>
          </div>
          <div class="imagen-enlace">
            <a href="http://localhost:3000/docker/apartado1-3">
              <img src="img/img6.png" alt="" />
              <div class="hover-galeria">
                <img src="img/icono_SCRUM.png" alt="" />
                <p>Ciclo de vida de los contenedores</p>
              </div>
            </a>
          </div>
        </dev>

        <div class="contenido">
          <h3 class="titulo"> Ciclo de vida</h3>
          <p>
            Cuando ejecutamos el comando docker container run -it ubuntu:16.04 se crea una instancia de la imagen que
            hemos invocado (en este caso ubuntu:16:04) y se ejecuta en un nuevo contenedor, en este momento el
            contenedor se encuentra en estado de arranque.

            Cuando se arranca el contenedor este se encuentra en estado de ejecución, por lo que realiza las tareas que
            requiere e incluso podemos interactuar con el.

            Apenas abandonamos el contenedor nos dimos cuenta que este contenedor cerro su ejecución, pues ya no aparece
            al listar los contenedores en ejecución, en este punto el contenedor de Docker se encuentra en estado
            detenido.
          </p>
          <br>
          <img src="img/im-docker-ciclo-vida-contenedor.jpg" alt="" />
          <br>
        </div>
      </div>
    </section>
  </main>
  </div>
</body>