<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="estilo.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    <title>Campeon</title>
</head>
<body style="background-color:#07121A;">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark font-weight-bold" style="background-color:#111111;">
        <a class="navbar-brand" href="home.hbs">Campeones de League of legends</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="listaC.hbs">Campeones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="agregarC.hbs">Agregar Campeón</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>
        </div>
      </nav>

      <br>

<div class="container-fluid rounded fondo">

  <div class="container rounded font" style="color: white;">
    
    <br>

    <div class="row">
      <div class="col-sm rounded font letraLOL" style="background-color:#191D21;">
        <h4 style="text-align:center;">Habilidades del campeón</h4>
      </div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm rounded letraLOL" style="background-color:#191D21;">
        <h4 style="text-align:center;">Rol</h4>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm rounded" style="background-color:#31333C;">
        <h5>Q:</h5>
        <p>BARRERA DE MANÁ
          Cuando se queda con poca vida, Blitzcrank obtiene un escudo según su man</p>
        <h5>W:</h5>
        <p></p>
        <h5>E:</h5>
        <p>Ornn embiste, lo que inflige daño a los enemigos que atraviesa. Si Ornn colisiona con terreno mientras embiste, el impacto crea una onda expansiva a su alrededor que inflige daño y levanta a los enemigos.</p>
        <h5>R:</h5>
        <p style="text-align: justify;">Ornn invoca un enorme elemental en una ubicación, el cual avanza hacia él a una velocidad que aumenta. Los enemigos atropellados por el elemental reciben daño, quedan ralentizados y se vuelven Frágiles. Ornn puede volver a lanzar la habilidad para embestir al elemental, lo que hará que cambie de dirección y avanzará hacia donde haya recibido el golpe. Esto causará que todos los enemigos que atropelle sean levantados, reciban el mismo daño y vuelvan a recibir el efecto de Fragilidad.</p>
      </div>
      <div class="col-sm-1">
        
      </div>
      <div class="col-sm rounded" style="background-color:#31333C; color:#9F824B;">
        <h5 style="text-align: center; font-family: 'Courier New', Courier, monospace;">Soporte</h5>
        <img src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Blitzcrank_0.jpg" class="img-fluid rounded" alt="Responsive image">
        <br>
        <br>
      </div>
    </div>

    <br>

  <div class="row">
    <div class="col-sm rounded letraLOL" style="background-color:#191D21; color:white;">
      <h4 style="text-align:center;">Descripción</h4>
    </div>
    <div class="col-sm-1">
        
    </div>
    <div class="col-sm rounded">
        
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm rounded" style="background-color:#31333C; color:white;">
      <p style="text-align:justify;">Descripción:</p>
    </div>
    <div class="col-sm-1">
        
    </div>
    <div class="col-sm rounded">
        
    </div>
  </div>
  
  <br>

  </div>

</div>  

</body>
</html>
