
  <body>
    <br>
    <div style="color: white;" class="font-italic">
    <header>
      <nav>
        <a href="http://localhost:3000/docker/">Inicio</a>
        <a href="http://localhost:3000/docker/apartado1-1">  Introduccion a Docker</a>
      </nav>
      <section class="textos-header">
        <h1>Ingenieria de sofware II</h1>
        <h2>The foundation</h2>
      </section>
      
    </header>
    <main>
      <section class="contenedor sobre-nosotros">
        <h2 class="titulo">Nuestra pagina web</h2>
        <div class="contenedor-sobre-nosotros">
          <img src="img/fes.png" alt="" class="imagen-about-us" />
        </div>
      </section>
      <section class="portafolio">
        <div class="contenedor">
          <h2 class="titulo" id="Enlaces">Enlaces</h2>
          <dev class="galeria-enlace">
            <div class="imagen-enlace">
              <a href="http://localhost:3000/docker/apartado1-1">
                <img src="img/img8.png" alt="" />
                <div class="hover-galeria">
                  <img src="img/icon2.png" alt="" />
                  <p>Docker</p>
                </div>
              </a>
            </div>
          </dev>
        </div>
      </section>
    </main>
    </div>
  </body>