<body class="fondo" style="background-color:#31333C;">


  <br>

  <div class="container-fluid">
    <h1 style="text-align: center; font-style: italic; font-size: 84px; color: #9F824B;">Acerca de...</h1>
  </div>
  <div class="container">
    <p style="text-align: center; font-size: 28px; color: white;">Esta página fue creada con base al proyecto final de
      SCRUM en el cual implementamos una API-REST para campeones de League of Legends</p>
  </div>
  <div class="container">
    <h2 style="color:white;">Participantes:</h2>
    <a href="http://localhost:3000/users/Paulo_Franco/">Francisco Paulo Bautista Gonzalez</a>
    <br>
    <a href="http://localhost:3000/users/CarlosA/">Carlos Alberto Morales Balderrama</a>
    <br>
    <a href="http://localhost:3000/users/KarenA/">Karen Alejandra Gonzalez Lopez</a>
    <br>
    <a href="http://localhost:3000/users/JorgeJ/">Jorge Joshua Trejo Martinez</a>
    <br>
    <a href="http://localhost:3000/users/PabloE/">Pablo Eduardo Cruz Gallardo</a>
    <br>
    <a href="http://localhost:3000/users/RubenS/">Rubén Sebastian Soberanes Ramírez</a>
    <br>
    <a href="http://localhost:3000/users/Isaac/">Isaac Pérez Fernández</a>
  </div>

  <nav class="navbar">

  </nav>

</body>